<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="MyConnectionString" connectionString="Data Source=LAPTOP-SKTD9BNV\SQLEXPRESS;Initial Catalog=GymBrosDB;Integrated Security=True" />
  <add name="DBapplication.Properties.Settings.ConnectionString"
   connectionString="Data Source=.;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="DBapplication.Properties.Settings.gymConnectionString"
   connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=gym;Integrated Security=True;Encrypt=False"
   providerName="System.Data.SqlClient" />
  <add name="DBapplication.Properties.Settings.GymBrosDBConnectionString"
   connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=GymBrosDB;Integrated Security=True;Encrypt=False"
   providerName="System.Data.SqlClient" />
 </connectionStrings>

	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
